# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtualenv
.venv/
env/
venv/
ENV/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# State files
reposter_state.json
*.tmp

# dotenv
.env

docker-compose.yml
TGScanner.session

